﻿@{
    ViewData["Title"] = "Home Page - weather";
}

<div class="text-center">
    <h2 class="display-4">Weather forcast</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Temperature C</th>
            <th scope="col">Summary</th>
        </tr>
    </thead>
    <tbody id="weather-display">
        <tr>
            <th>1</th>
            <td>AA</td>
            <td>BB</td>
        </tr>
    </tbody>
</table>

<script src="~/js/weather-api.js"></script>
