﻿@{
    ViewData["Title"] = "Add user"; 
}

<div class="text-center">
    Add user form
</div>
<form>
    <div>
        <input class="form-control" id="name" required />
    </div>
    <div>
        <input class="form-control" id="email" required />
    </div>
    <div>
        <input class="form-control" id="address" required />
    </div>
    
    <button id="send">Add</button>
</form>

@section Scripts{
    <script src="~/js/add-user.js"></script>
}