﻿@{
    ViewData["Title"] = "Edit user";
}

<div class="text-center">
    Edit user form
</div>
<div class="form-edit">
        <div>
            <input class="form-control" id="name" required />
        </div>
        <div>
            <input class="form-control" id="email" required />
        </div>
        <div>
            <input class="form-control" id="address" required />
        </div>

        <button id="send">Edit</button>
</div>



<script src="~/js/edit-user.js"></script>