﻿
<h3>User list</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody id="user-display">
        <tr>
            <th scope="row">1</th>
            <td>AA</td>
            <td>BB</td>
            <td>CC</td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/display-user.js"></script>
}

